.awesome {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.b button {
    border: 1px solid #355EFC;
    color: #355EFC;
    border-radius: 11px;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 142px;
    height: 42px;
    padding: 10px 15px;
    font-family: opensans;
    font-size: 16px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.36);
    border: 1px solid #CAD2FC;


}

.af h1 {
    display: flex;
    align-items: center;
    color: black;
    font-family: jost;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}
