.container {
    width: 850px;
    height: 620px;
    margin: 10px 10px;
    

}

.carousel {
    height: 620px;
    width: 850px;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    height: 620px;
    width: 850px;
    
}

.slider section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 700px;
}

.slider img {
    background: cover;
}

.controls .arrow {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 0px;
}
