.carousel {
    height: 620px;
    width: 850px;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    transition: 500ms opacity ease-in-out;
    transition: 500ms;   
}

.slider section {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.slider img {
    background: cover;
}

.controls .arrow {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 0px;
}
