
.end{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #000000;
    height: 100px;
    gap: 20px;
}

.copy{
    display: flex;
    flex-direction: row;
    font-family: opensans;
    align-items: center;
    justify-content: center;
}

.codex{
    display: flex;
    flex-direction: row;
    font-family: opensans;
    align-items: center;
    justify-content: center;
}

.end a,p{
    color: white;
}

.a {
    padding: 0px 5px;
}

.c {
    padding: 0px 5px; 
}

.d {
    padding: 0px 5px;   
}

.copyright {
    color: white;
}
