
.end{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000000;
}

.copy{
    display: flex;
    flex-direction: row;
    padding: 25px 71px 25px 135px;
}

.codex{
    display: flex;
    flex-direction: row;
    padding: 25px 135px 25px 0px;
}

.end a,p{
    color: white;
}

.a {
    padding: 0px 5px;
}

.c {
    padding: 0px 5px; 
}

.d {
    padding: 0px 5px;   
}

.copyright {
    color: white;
}
