.final {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}


.head{
    display: flex;
}

.info{
    display: flex;
    align-items: center;
  
}

.info img {
    padding: 0px 25px 0px 0px;

}

.info h5{
    color: #355EFC;
    padding: 0px 30px 0px 0px;
    font-family: opensans;
}


.contact{
    display: flex;
    align-items: center;
   
}

.contact h5{
    padding: 0px 25px 0px 0px;
    color: #355EFC;
    font-family: opensans;
}

.contact img{
    padding: 0px 20px 0px 0px;


}

.navig{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    gap: 61px;
}


.navig img {
    align-items: center;
    padding: 0px 306px 0px 0px;

}


.navi {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    justify-content: space-evenly;
    background: url(logo/hero\ shape.png) no-repeat center center;
    background-size: cover;
   
}


.navig a {
    padding: 0px 15px 0px 0px;
    color: #355EFC;
    font-weight: 700;
    font-size: 16px;
    line-height: normal;
    font-style: normal;
    font-family: poppins;
    

}

.logo div {
padding: 10px 17px 10px 17px;
border-radius: 50%;
background-color: #DEE2FB;
cursor: pointer;
}

.logo{
    display: flex;
    gap: 10px;
}

.one{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.finanza {
    display: flex;
    align-items: flex-start;
}
