.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #011A41;
    justify-content: space-around;
}

.footer h3, h5, pre{
    color: white;
    
}

.our-office {
    padding: 57px 0px 90px 0px;
}

.our-office h3 {
    font-family: jost;
}

.office {
    color: white;
    font-family: jost;
}

.office img {
    padding: 10px 10px 0px 0px;
}


.services {
    color: white;
    padding: 45px 0px 89px 0px;
    font-family: poppins;
}

.services h3 {
    font-family: jost;
}

.services img {
    padding: 10px 10px 0px 0px;
}

.quick-links {
    color: white;
    padding: 40px 0px 85px 0px;
    font-family: poppins;
    gap: 20px;
}

.quick-links img {
    padding: 10px 10px 0px 0px;
}

.quick-links h3 {
    font-family: jost;
}


.news {
    padding: 0px 0px 65px 0px;
}

.news pre {
    color: white;
}

.news h3, pre {
    font-family: jost;
}

.yourmail {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.ym {
    display: flex;
    background-color: white;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.yourmail input {
    border: none;
    height: 40px;
    font-family: opensans;
}

.but {
    display: flex;
    
}

.but button {
    border: 1px solid #355EFC;
    border-radius: 5px;
    background-color: white;
    width: 73px;
    height: 37px;
    padding: 5px 5px 10px 10px;
    justify-content: flex-end;
    align-items: center;
    color: #355EFC;
}

.but button:hover {
    background-color: #355EFC;
    color: white;
}

.logos img {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 10px 0px 0px;
}


.services div {
    display: flex;
    align-items: flex-end;

}

.office div {
    display: flex;
    align-items: flex-end;

    
}




.ql1 {
    display: flex;
    align-items: flex-end;
}

.ql2 {
    display: flex;
    align-items: flex-end;
}

.ql3 {
    display: flex;
    align-items: flex-end;
}

.ql4 {
    display: flex;
    align-items: flex-end;
}

.ql5 {
    display: flex;
    align-items: flex-end;
} 

@import url(office.scss);
@import url(services.scss);