.happy {
    display: flex;
    align-items: center;
    background-color: #355EFC;
    height: 262px;
    justify-content: space-around;
}

.hc {
    display: flex;
    flex-direction: column;
    background-color: #355EFC;
    align-items: center;
    width: 291px ;
    height: 158 ;
}

.hc img, h1, p {
    align-items: center;
    color: white;
    justify-content: center;
}

.hc h1, p {
    font-family: poppins;
}

.pc {
    display: flex;
    flex-direction: column;
    background-color: #355EFC;
    align-items: center;
    width: 291px ;
    height: 158 ;
}

.pc img, h1, p {
    align-items: center;
    color: white;
    justify-content: center;
}

.pc h1, p {
    font-family: poppins;
}


.ds {
    display: flex;
    flex-direction: column;
    background-color: #355EFC;
    align-items: center;
    width: 291px ;
    height: 158 ;
}


.ds img, h1, p {
    align-items: center;
    color: white;
    justify-content: center;
}

.ds h1, p {
    font-family: poppins;
}

.staff {
    display: flex;
    flex-direction: column;
    background-color: #355EFC;
    align-items: center;
    width: 291px ;
    height: 158 ;
}



.staff img, h1, p {
    align-items: center;
    color: white;
    justify-content: center;
}

.staff h1, p {
    font-family: poppins;
}