.our-services {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    gap: 35px;
}


.m1 {
    display: flex;
    width: 400px;
    height: 39px;
    align-items: center;
    border: 1px solid #355EFC;
    border-radius: 5px;
    padding: 30px;
}


.m2 {
    display: flex;
    width: 400px;
    height: 39px;
    align-items: center;
    border: 1px solid #355EFC;
    border-radius: 5px;
    padding: 30px;
}

.m3 {
    display: flex;
    width: 400px;
    height: 39px;
    align-items: center;
    border: 1px solid #355EFC;
    border-radius: 5px;
    padding: 30px;
}

.m4 {
    display: flex;
    width: 400px;
    height: 39px;
    align-items: center;
    border: 1px solid #355EFC;
    border-radius: 5px;
    padding: 30px;
    
}

.m1 h2 {
    font-family: opensans;
}

.m2 h2 {
    font-family: opensans;
}

.m3 h2 {
    font-family: opensans;
}

.m4 h2 {
    font-family: opensans;
}

.m1 img {
    padding: 0px 10px 0px 0px;
}

.m2 img {
    padding: 0px 10px 0px 0px;
}

.m3 img {
    padding: 0px 10px 0px 0px;
}

.m4 img {
    padding: 0px 10px 0px 0px;
}


.m1:hover {
    background-color: #355EFC;
    color: white;
}

.m2:hover {
    background-color: #355EFC;
    color: white;
}

.m3:hover {
    background-color: #355EFC;
    color: white;
}

.m4:hover {
    background-color: #355EFC;
    color: white;
}


.imggg {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}


.experience {
display: flex;
flex-direction: column;
gap: 7px;
max-width: 960px;
margin-left: auto;
margin-right: auto;
padding: 0px 0px 15px 0px;
}

.exp1 {
    display: flex;
}

.exp1 pre {
font-weight: 700;
font-size: xx-large;
font-family: jost;
color: black;
}

.exp2 {
display: flex;
padding: 12px 0px 0px 0px;

}

.exp2 pre {
font-family: poppins;
font-weight: 100;
color: black;
}

.exp3 {
display: flex;
flex-direction: column;

}

.exp4 {
    display: flex;
}

.exp4 button {
padding: 10px 25px;
border-radius: 10px;
border: 1px solid #355EFC;
background-color: white;
color: #355EFC;

}

.exp4 button:hover {
    background-color: #355EFC;
    color: white;
    font-family: opensans;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.36);
}

.e1 {
display: flex;
align-items: center;
padding: 10px 0px;
}

.e1 p {
color: black;
font-family: poppins;
}