.request {
    display: flex;
    background: url(logo/contact-form-backend.png) no-repeat;
    justify-content: center;
    height: 550px;
}


.bcgr {
    display: flex;
    height: 170px;
}


.bcgr {
    background: url(logo/contact-form-backend.png) no-repeat center;
}

.req {
    display: flex;
    flex-direction: column;
    border: 1px solid #909DE2;
    border-radius: 10px;
    background: #fff;
    padding: 50px;
    
}

.getin {
    display: flex;
    justify-content: center;
}

.getin button:hover {
    background-color: #355EFC;
    color: white;
}

.getin button {
    border: 1px solid #CAD2FC;
    color: #355EFC;
    border-radius: 11px;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 170px;
    height: 42px;
    padding: 10px 15px;
    font-family: opensans;
    font-size: 16px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.36);
    border: 1px solid #CAD2FC;
}

.callback h1{
    color: #011A41;
    text-align: center;
    font-family: Jost;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
}

.cb {
    display: flex;
    justify-content: space-around;
}

.cb1 {
    display: flex;
    justify-content: space-evenly;
}

.msg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg textarea {
    display: flex;
    justify-content: center;
    height: 133px;
    padding: 15px 0px 15px 0px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 5px;
    border: 1px solid #909DE2;
    font-family: opensans;
}

.btnn {
    display: flex;
    justify-content: center;
}

.btnn button {
    border: 1px solid #CAD2FC;
    color: #355EFC;
    border-radius: 11px;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 616px;
    height: 42px;
    padding: 10px 15px;
    font-family: opensans;
    font-size: 16px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.36);
    border: 1px solid #CAD2FC;
}

.btnn button:hover {
    background-color: #355EFC;
    color: white;
}

.yname input {
    height: 20px;
    border: 1px solid #CAD2FC;
    height: 50px;
    width: 298px;
    font-family: opensans;
}

.ymail input {
    height: 20px;
    border: 1px solid #CAD2FC;
    height: 50px;
    width: 298px;
    font-family: opensans;
}


.phone input {
    height: 20px;
    border: 1px solid #CAD2FC;
    height: 50px;
    width: 298px;
    font-family: opensans;
}

.subject input {
    height: 20px;
    border: 1px solid #CAD2FC;
    height: 50px;
    width: 298px;
    font-family: opensans;
}