.wel {
    display: flex;
    align-items: center;
 
}

.welcometo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    ;
}

.wtf {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-around;
    
}

.wtfbut {
    display: flex;
    justify-content: flex-start;
    padding: 25px 0px 0px 10px;
}

.ourgoal {
    display: flex;
    width: 731x;
    height: 330px;
}

.expmore {
    display: flex;
    justify-content: flex-start;
    padding: 25px 0px 0px 10px;
}

.wtfbut button {
    border: 1px solid white;
    color: #355EFC;
    border-radius: 11px;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
    width: 200px;
    height: 42px;
    padding: 10px 15px;
    font-family: opensans;
    font-size: 16px;
    background-color: #DEE2FB;
}

.wtfbut button:hover {
    background-color: #355EFC;
    color: white;
}


.ourgoal pre {
    color: #011A41;
    font-family: Opensans;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 96px;
}

.expmore button {
    border: 1px solid white;
    color: #355EFC;
    border-radius: 11px;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
    width: 170px;
    height: 42px;
    padding: 10px 15px;
    font-family: opensans;
    font-size: 16px;
    background-color: #DEE2FB;
}

.expmore button:hover {
    background-color: #355EFC;
    color: white;
}

.backgrn {
    display: flex;
    flex-direction: row-reverse;
}

.left {
    display: flex;
    justify-content: center;
  ;
}

.right {
    display: flex;
    align-items: center;

}

.right img {
    width: 76px;
    height: 62px;
}

