.wel {
    display: flex;
    align-items: center;
}

.welcometo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 410px;
    height: 300px;
}

.wtf {
    display: flex;
    flex-direction: column;
}

.wtfbut {
    display: flex;
    justify-content: flex-start;
    padding: 25px 0px 0px 140px;
}

.ourgoal {
    display: flex;
}

.expmore {
    display: flex;
    justify-content: flex-start;
    padding: 25px 0px 0px 140px;
}

.wtfbut button {
    border: 1px solid white;
    color: #355EFC;
    border-radius: 11px;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
    width: 200px;
    height: 42px;
    padding: 10px 15px;
    font-family: opensans;
    font-size: 16px;
    background-color: #DEE2FB;
}


.ourgoal pre {
    color: #011A41;
    font-family: Opensans;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 96px;
}

.expmore button {
    border: 1px solid #CAD2FC;
    color: white;
    border-radius: 11px;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
    width: 170px;
    height: 42px;
    padding: 10px 15px;
    font-family: opensans;
    font-size: 16px;
    background-color: #355EFC;
}

.backgrn {
    display: flex;
    width: 1000px;
    height: 623px;;
    background: url(logo/slider-image-card.png) no-repeat center center;
    background-size:cover;
}

.left {
    display: flex;
    justify-content: center;
}

.right {
    display: flex;
    align-items: center;
}

.right img {
    width: 76px;
    height: 62px;
}